process.executor='pbs'

params.testSamp = './data/test/*_Rep*.R{1,2}.fastq'
params.samples_path = './data/*_Rep*.R{1,2}.fastq'
params.hg38STAR_path = 'reference/hg38_gencode28_STAR'
params.ref_fa_path = './reference/GRCh38.primary_assembly.genome.fa'
params.ref_flat_path = './reference/gencode.v28.primary_assembly.annotation.refFlat'
params.ref_ribo_intervals_path = './reference/gencode.v28.primary_assembly.annotation.ribosome_ranges'

params.EXPECTED_PAIR_ORIENTATIONS = "FR"
params.STRAND_SPECIFICITY = "NONE"
